/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; font-size: 0.073529411765vw;}
body                            { padding:0; margin:0; font:12rem 'Bliss Pro'; line-height: 1.5; background: #fff;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea,header, nav, section, article, aside, footer, blockquote {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;

	box-sizing: border-box;
 	-moz-box-sizing: border-box;
}
header, nav, section, article, aside, footer {
	display: block
}
select, input, textarea        {  font:italic 14rem 'Bliss Pro'; color: #e5e5e5; vertical-align:middle; }
textarea                       { vertical-align:top; resize:none;}
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              { font: 14rem 'Bliss Pro'; color: #58595b; text-decoration:none; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.middle                        { position: relative; top:50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
 
/*clearfix*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
} 
/*text*/
.text p {
 	margin: 20rem 0;
 }
.text p:first-of-type {
	margin: 0 0 20rem 0;
}
.text p:last-of-type {
	margin: 20rem 0 0 0;
}
.text p:only-of-type {
	margin: 0;
}
div > img,
.logo img {
	display: block;
	width: 100%;
}
input, textarea, select {
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
button {
    background: transparent;
    border-radius: 0;
    border: none;
    outline: none;
    padding: 0;
}
::-moz-selection {
	background: #1a171c;
	color: #fafafa;
}
::selection {
	background: #1a171c;
	color: #fafafa;
}
/*----------------------------------------WRAP--------------------------------------*/
.account-page-wrapper {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #fafafa;
}
.account-content-wrapper {
	width: 320rem;
	margin: auto;
}
/*-------------------------------------HEADER---------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
.manezh-account-page {
    background-color: #fafafa;
}
.account-page-wrapper > div {
	float: left;
	width: 50%;
	height: 100%;
}
.account-page-left-col {
	position: relative;
}
.account-page-left-col img {
	object-fit: cover;
	height: 100%;
}
.logo {
	display: block;
	width: 219.3rem;
	height: 322.3rem;
	position: absolute;
	top: 30.2rem;
	left: 0;
}
.account-page-right-col {
	padding: 100rem 0 20rem 0;
}
.account-page-right-col h1 {
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	text-align: center;
	color: #222020;
	margin-bottom: 50rem;
}
.form-input-wrapper {
	margin: 42rem 0 0 0;
	padding: 14rem 0 14rem 20rem;
    position: relative;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	text-align: left;
	color: #222020;
    border-bottom: 2rem solid #222020;
    -webkit-transition: border-color .6s ease;
    transition: border-color .6s ease;
}
.form-input-wrapper input {
	background-color: #fafafa;
	font-style: normal;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	text-align: left;
	color: #222020;
}
.form-input-wrapper.invalid{
	border-color: #e54b4b;
}
.form-input-wrapper input:not([type=password]) {
	text-transform: uppercase;
}
.form-input-wrapper label {
    width: 100%;
    display: block;
    text-transform: uppercase;
    position: absolute;
    top: 15rem;
    left: 20rem;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.form-input-wrapper input:focus + label, 
.form-input-wrapper input.not-empty + label {
    -webkit-transform: scale(.79);
    transform: scale(.79);
    color: #a9a9a9;
    top: -15rem;
    left: 20rem;
}
.password-restore-link {
	display: block;
	width: 130rem;
	margin: 20rem 0 50rem 20rem;
	padding: 0 0 5rem 0;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	text-align: left;
	color: #bebebf;
	text-transform: uppercase;
	border-bottom: 2rem solid #dedede;
	transition: all .6s ease;
}
.password-restore-link.active {
	color: #222020;
	border-bottom: 2rem solid #222020;
}
.login-register-btn {
	display: block;
	width: 100%;
	padding: 20rem 20rem;
	text-transform: uppercase;
	background-color: #ededed;
    font: 14rem 'Bliss Pro';
	font-weight: bold;
	line-height: 1.71;
	letter-spacing: 1rem;
	text-align: center;
	color: #fafafa;
	pointer-events: none;
	transition: background-color .6s ease;
	margin-bottom: 10rem;
}
.btn-active {
	background-color: #222020;
	pointer-events: all;
}
.account-login-form {
	margin-bottom: 58rem;
}
.sign-up-row {
	padding: 0 0 0 20rem;
}
.sign-up-row > p {
	float: left;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	color: #222020;
	margin: 0 10rem 0 0;
}
.sign-up-row > a {
	display: block;
	float: right;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	color: #bebebf;
	padding: 0 0 5rem 0;
	border-bottom: 2rem solid #dedede;
}
.incorrect-text {
	display: block;
	font-size: 12rem;
	line-height: 1.83;
	letter-spacing: 1rem;
	text-align: center;
	color: #e54b4b;
	opacity: 0;
	transition: opacity .6s ease;
}
.incorrect-text.active {
	opacity: 1;
}
/*register new user page*/
.register-new-user-page {
	position: relative;
	overflow: auto;
	padding: 100rem 0;
}
.back-btn-link {
	display: block;
	width: 60rem;
	height: 60rem;
	position: absolute;
	top: 10rem;
	right: 10rem;
	background-image: url(../img/elements/close-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 17.1rem 17.1rem;
	background-size: 17.1rem 17.1rem;
}
.register-new-user-page h1 {
	margin-bottom: 10rem;
}
.register-subtitle {
	display: block;
	width: 100%;
	font-weight: 300;
	line-height: 1.83;
	letter-spacing: 0.2rem;
	text-align: center;
	color: #8b8b87;
	margin-bottom: 50rem;
}
.category-links-wrapper {
	padding: 0 8rem 0 12rem;
}
.category-links-wrapper a {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}
.choose-category-block {
	margin-bottom: 50rem;
}
.choose-category-block a {
	padding: 14rem 14rem;
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	text-align: center;
	color: #222020;
	border: solid 1rem #dedede;
	transition: all .6s ease;
}
.choose-category-block a:first-child {
	margin-bottom: 10rem;
}
.continue-link {
	padding: 20rem 20rem;
	font-size: 14rem;
	font-weight: bold;
	line-height: 1.71;
	letter-spacing: 1rem;
	color: #fafafa;
	background-color: #ededed;
	transition: all .6s ease;
	pointer-events: none;
}
.category-type-link.active {
	color: #fff;
	border: solid 1rem #222020;
	background-color: #222020;
}
.continue-link.active {
	color: #fff;
	background-color: #222020;
	pointer-events: all;
}
/*register dealers page*/
.register-form-wrapper {
	padding: 0 20rem;
}
.select-param-wrapper.invalid::after{
	background-color: #df3a3e;
}

.select-param-wrapper select{
	display: none;
}

.select-param-wrapper .nice-select{
	width: 100%;
	padding: 0;
	float: none;
	text-transform: uppercase;
}

.select-param-wrapper .nice-select span.current{
	font-weight: 500;
}

.select-param-wrapper .nice-select .list{
	left: -20rem;
	width: 108%;
}

.select-param-wrapper .nice-select .list > li.disabled{
	display: none;
}

.select-param-wrapper .nice-select .list > li.disabled[data-value="visible"]{
	display: block;
}

.select-param-wrapper label{
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 20rem;
	top: 15rem;
	font-weight: 700;
	font-size: 12rem;
	line-height: 24rem;
	letter-spacing: .4rem;
	text-transform: uppercase;
	-webkit-transform-origin: 0 100%;
	        transform-origin: 0 100%;
	-webkit-transition: top .5s ease, opacity .5s ease, -webkit-transform .5s ease;
	transition: top .5s ease, opacity .5s ease, -webkit-transform .5s ease;
	transition: top .5s ease, opacity .5s ease, transform .5s ease;
	transition: top .5s ease, opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
	pointer-events: none;
}

.select-param-wrapper.invalid label{
	color: #df3a3e;
}

.select-param-wrapper .nice-select.open + label,
.select-param-wrapper .nice-select.label-up + label,
.course-form-input-wrapper input:focus + label,
.course-form-input-wrapper input.filled + label,
.select-param-wrapper select + label.label-up{
	top: -18rem;
	opacity: .5;
	-webkit-transform: scale(.8);
	        transform: scale(.8);
}
.company-info-block {
	margin: 0 0 62rem 0;
}
.contacts-info-block {
	margin: 0 0 72rem 0;
}
.pass-info-block {
	margin: 0 0 50rem 0;
}
.incorrect-mssg {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	line-height: 2.2;
	letter-spacing: 2px;
	text-align: left;
	color: #e54b4b;
	position: absolute;
    top: -15rem;
    left: 20rem;
    background-color: #fafafa;
    opacity: 0;
    transition: opacity .6s ease;
}
.incorrect-mssg.active {
	opacity: 1;
}
.success-registration-page {
	padding: 252rem 0;
	text-align: center;
}
.success-registration-page h1 {
	font-size: 12rem;
	font-weight: bold;
	line-height: 1.83;
	letter-spacing: 2rem;
	color: #222020;
	margin-bottom: 10rem;
}
/*success registration*/
.success-registration-page p {
	font-size: 12rem;
	font-weight: 300;
	line-height: 1.83;
	letter-spacing: 0.2rem;
	color: #8b8b87;
}
/*resore password page*/
.page-password-restore {
	padding: 180rem 0;
}
.page-password-restore h1 {
	margin-bottom: 10rem;
	text-align: center;
}
.page-password-restore p {
	font-size: 12rem;
	text-align: center;
	font-weight: 300;
	line-height: 1.83;
	letter-spacing: 0.2rem;
	color: #8b8b87;
	margin-bottom: 72rem;
}
.password-restore-form .form-input-wrapper {
	margin-bottom: 10rem;
}
.password-restore-form .incorrect-text {
	margin-bottom: 18rem;
	text-transform: uppercase;
}
/*account inner page*/
.account-inner-page-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.account-inner-page-wrapper > div {
	height: 100%;
}
.account-inner-page-left-col {
	width: 68%;
	float: left;
}
.account-inner-page-right-col {
	width: 31.5%;
	height: 100%;
	float: right;
	padding: 15rem 40rem 32rem 40rem;
	border-left: 3rem solid #f1f1f1;
	overflow: auto;
}
.account-inner-page-right-col.hovered {
	padding: 115rem 40rem 32rem 40rem;
}
.exchange-rates-block-wrapper {
	width: 530rem;
	position: absolute;
	top: 100rem;
	left: 235rem;
}
.exchange-rates-block-wrapper > div {
	border-radius: 4rem;
	background-color: #ffffff;
	box-shadow: 0 0 20rem 0 rgba(0, 0, 0, 0.07);
}
.exchange-rates-top-block {
	margin-bottom: 10rem;
}
.exchange-rates-list > li {
	padding: 20rem 50rem;
    display: flex;
    justify-content: space-between;
}
.exchange-rates-list > li:not(:last-child) {
	border-bottom: 2rem solid #f1f1f1;
}
.exchange-rates-description {
	font-size: 14rem;
	font-weight: bold;
	line-height: 1.86;
	letter-spacing: 0.2rem;
	color: #222020;
}
.exchange-rates-value {
	font-size: 16rem;
	line-height: 1.63;
	letter-spacing: 0.2rem;
	color: #222020;
}
.username-container {
	width: 100%;
	display: flex;
    justify-content: flex-end;
    margin-bottom: 35rem;
}
.username-container.hovered {
	position: fixed;
	top: 15rem;
	right: 40rem;
	z-index: 101;
}
.name-id-container {
	margin: 0 25rem 0 0;
	padding: 5rem 0;
}
.name-id-container > span {
	display: block;
	text-align: right;
}
.name-id-container .username {
	font-size: 12rem;
	font-weight: bold;
	line-height: 2;
	letter-spacing: 0.6rem;
	color: #222020;
}
.name-id-container .user-id-number {
	font-size: 12rem;
	line-height: 1.33;
	letter-spacing: 0.2rem;
	color: #a9a9a9;
}
.photo-container {
	width: 50rem;
	height: 50rem;
	border-radius: 50%;
	overflow: hidden;
}
.photo-container img {
	height: 100%;
	object-fit: cover;
}
.search-file-form-wrapper {
	height: 50rem;
	padding: 0 0 0 20rem;
	border-radius: 4rem;
	border: solid 2rem #ededed;
	margin-bottom: 15rem;
}
.search,
.search > div {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.search > div input {
	background-color: #fafafa;
}
.search-btn {
	width: 15.5%;
}
.search-input {
	width: 84.5%;
}
.search-btn input {
	background-image: url(../img/elements/icon_search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 20rem 20rem;
	background-size: 20rem 20rem;
	cursor: auto;
}
.search-input input {
	padding: 13rem 5rem;
	font-size: 12rem;
	line-height: 2;
	letter-spacing: 0.4rem;
	text-align: left;
	color: #a9a9a9;
	font-style: normal;
}
::-webkit-input-placeholder {color:#a9a9a9; opacity:1; letter-spacing: 0.4rem; font: 12rem 'Bliss Pro'; font-style: normal; transition: opacity .4s ease;}/* webkit */
::-moz-placeholder          {color:#a9a9a9; opacity:1; letter-spacing: 0.4rem; font: 12rem 'Bliss Pro'; font-style: normal; transition: opacity .4s ease;}/* Firefox 19+ */
:-moz-placeholder           {color:#a9a9a9; opacity:1; letter-spacing: 0.4rem; font: 12rem 'Bliss Pro'; font-style: normal; transition: opacity .4s ease;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a9a9a9; opacity:1; letter-spacing: 0.4rem; font: 12rem 'Bliss Pro'; font-style: normal; transition: opacity .4s ease;}/* IE */
:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.price-list-container {
	margin-bottom: 25rem;
}
.price-list-container h2,
.technical-information-container h2 {
	font-size: 12rem;
	line-height: 2;
	letter-spacing: 0.6rem;
	color: #a9a9a9;
	margin-bottom: 15rem;
}
.docs-list > li {
	display: flex;
	position: relative;
	width: 100%;
	border-radius: 4rem;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}
.docs-list > li:not(:last-child) {
	margin-bottom: 10rem;
}
.icon-container {
	width: 80rem;
	-webkit-background-size: 24rem 30rem;
	background-size: 24rem 30rem;
	background-repeat: no-repeat;
	background-position: center center;
}
.icon-zip-file {
	background-image: url(../img/elements/icon_zip.png);
}
.icon-excel-file {
	background-image: url(../img/elements/icon_excel.png);
}
.icon-word-file {
	background-image: url(../img/elements/icon_word.png);
}
.icon-powerpoint-file {
	background-image: url(../img/elements/icon_powerpoint.png);
}
.icon-pdf-file {
	background-image: url(../img/elements/icon_pdf.png);
}
.icon-img-file {
	background-image: url(../img/elements/icon_jpeg_png.png);
}
.icon-video-file {
	background-image: url(../img/elements/icon_mp4.png);
}
.file-description-container {
	padding: 10rem 0;
	max-width: 220rem;
}
.time-upload,
.file-type-name {
	font-size: 12rem;
	font-weight: 300;
	line-height: 1.67;
	letter-spacing: 0.4rem;
	color: #222020;
	opacity: .5;
}
.docs-list > li h3 {
	font-size: 14rem;
	line-height: 1.43;
	letter-spacing: 0.4rem;
	color: #222020;
}
.file-download-link {
	display: block;
	width: 30rem;
	height: 30rem;
	border-radius: 4px;
	border: solid 1px #ededed;
	background-image: url(../img/elements/icon_download.svg);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: calc(50% - 15rem);
	right: 10rem;
}
.username-account-hover-block {
	position: fixed;
	top: 85rem;
	right: -440rem;
	display: flex;
    transform: translateX(0);
    pointer-events: none;
    transition: transform .4s ease, opacity .4s ease;
}
.hover-block {
	transform: translateX(-480rem);
	pointer-events: all;
	z-index: 100;
}
.username-account-hover-block a {
	display: block;
	width: 200rem;
	text-align: center;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1.83;
	letter-spacing: 1rem;
	padding: 14rem 45rem;
}
.edit-username-account-link {
	background-color: #fff;
	color: #222020;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}
.exit-username-account-link {
	background-color: #222020;
	color: #fff;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.files-container.hover {
	opacity: .3;
}
/*edit profile page*/ 
.edit-profile-page .username-container {
	position: absolute;
	top: 15rem;
	right: 40rem;
	max-width: 260rem;
	height: 50rem;
}
.edit-profile-form-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 720rem;
	height: auto !important;
	margin: 0 auto;
	padding: 130rem 0 100rem 0;
	position: relative;
}
.user-photo-container {
	width: 190rem;
	margin: 0 80rem 0 0;
	text-align: center;
}
.user-photo-img-container {
	padding: 20rem;
}
.user-photo-img-container img {
	height: 100%;
	object-fit: cover;
}
.change-photo-btn,
.change-pass-btn {
	display: inline-block;
	padding: 15rem 38rem;
	border: solid 2rem #dedede;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1.83;
	letter-spacing: 1rem;
	color: #222020;
	transition: border .3s ease;
}
.change-photo-btn:hover,
.change-pass-btn:hover {
	border: solid 2rem #222020;
}
.edit-profile-form-wrapper .register-form-wrapper {
	width: 300rem;
	padding: 0;
}
.profile-top-block {
	margin-bottom: 72rem;
}
.profile-btns-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.exit-btn {
	display: inline-block;
	padding: 20rem 50rem;
	text-align: center;
	border: solid 2rem #222020;
	font-size: 14rem;
	font-weight: bold;
	line-height: 1.71;
	letter-spacing: 1rem;
	color: #222020;
	position: absolute;
    bottom: 100rem;
    right: -16rem;
}
.edit-profile-btn {
	padding: 20rem 50rem;
	margin-bottom: 0;
    border: solid 2rem transparent;
}
.change-pass-inputs-block input::-webkit-input-placeholder {color:#222020; opacity:1; letter-spacing: 2rem; line-height: 22rem; font: 12rem 'Bliss Pro'; font-style: normal; font-weight: 700; transition: opacity .4s ease;}/* webkit */
.change-pass-inputs-block input::-moz-placeholder          {color:#222020; opacity:1; letter-spacing: 2rem; line-height: 22rem; font: 12rem 'Bliss Pro'; font-style: normal; font-weight: 700; transition: opacity .4s ease;}/* Firefox 19+ */
.change-pass-inputs-block input:-moz-placeholder           {color:#222020; opacity:1; letter-spacing: 2rem; line-height: 22rem; font: 12rem 'Bliss Pro'; font-style: normal; font-weight: 700; transition: opacity .4s ease;}/* Firefox 18- */
.change-pass-inputs-block input:-ms-input-placeholder      {color:#222020; opacity:1; letter-spacing: 2rem; line-height: 22rem; font: 12rem 'Bliss Pro'; font-style: normal; font-weight: 700; transition: opacity .4s ease;}/* IE */
.change-pass-inputs-block input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
.change-pass-inputs-block input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
.change-pass-inputs-block input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
.change-pass-inputs-block input:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.change-pass-inputs-block {
	display: none;
}
.back-btn {
	display: inline-block;
	font-size: 10rem;
	font-weight: 500;
	line-height: 20rem;
	letter-spacing: 0.8rem;
	color: #222020;
    position: absolute;
    bottom: 5%;
    left: 40rem;
} 
.back-btn .arrrow {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 1px;
    background: #000;
    margin: 0 20px 0 0;
    vertical-align: middle;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.back-btn .arrrow:before, .back-btn .arrrow:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 1px;
    width: 7px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #000;
}
.back-btn:hover .arrrow {
    width: 25px;
    padding-right: 5px;
}
.back-btn .arrrow {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 1px;
    background: #000;
    margin: 0 15px 0 0;
    vertical-align: middle;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.back-btn:hover .arrrow:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.back-btn:hover .arrrow:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.page-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    -webkit-animation: overlayBlur .5s ease-out forwards;
            animation: overlayBlur .5s ease-out forwards;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.page-overlay.active {
	display: block;
}
.upload-photo-popup-container {
	width: 400rem;
	padding: 30rem 60rem;
	text-align: center; 
	position: fixed;
    top: -504rem;
    left: calc(50% - 200rem);
    z-index: 201;
	border-radius: 4rem;
	background-color: #ffffff;
	box-shadow: 0 0 20rem 0 rgba(0, 0, 0, 0.05);
	transition: transform .5s ease;
}
.upload-photo-popup-container.active {
	transform: translateY(300%);
}
.upload-photo-popup-container h3 {
	font-size: 12rem;
	line-height: 1.83;
	letter-spacing: 2rem;
	color: #222020;
	margin-bottom: 10rem;
}
.upload-photo-popup-container p {
	font-size: 12rem;
	line-height: 1.83;
	letter-spacing: 0.2rem;
	color: #8b8b87;
	margin-bottom: 30rem;
}
.load-photo-button {
	display: block;
	width: 192rem;
	margin: 0 auto;
	padding: 15rem 20rem;
	font-size: 12rem;
	font-weight: 500;
	line-height: 1.83;
	letter-spacing: 1rem;
	color: #fff;
	background: #222020;
	font-weight: 500;
	border: 1rem solid transparent;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s ease-out;
}

.load-photo-button:hover{
	background-color: #353535;
	color: #fff;
}

.load-photo-button:active{
	top: 2rem;
}

.load-photo-button.done{
	pointer-events: none;
}

.load-photo-button > input{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
	display: block;
	-webkit-transform: scale(100);
	    -ms-transform: scale(100);
	        transform: scale(100);
}
.submitPhotoBtn{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0f0f0f;
	color: #fff;
	font-size: 14rem;
	font-weight: 500;
	display: none;
	text-align: center;
}

.submitPhotoBtn.visible{
	display: block;
}
.load-photo-button > input.vacrob{
	display: none;
}
.allowed-filetypes-text{
	display: block;
	font-size: 12rem;
	font-weight: 300;
	line-height: 1.83;
	letter-spacing: 0.2rem;
	text-align: center;
	color: #8b8b87;
	margin: 10rem 0 0 0;
}
.allowed-filetypes-link {
	margin: 10px 0 15px 0;
}
.filename{
	display: block;
	float: right;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #8a8a8a;
	padding: 14rem 35rem 0 0;
}
.upload-block{
	margin-top: 50px;
}
/*page 404*/
.page-404 {
	position: relative;
}
.page-404-wrapper {
	width: 260rem;
	text-align: center;
	position: absolute;
	top: calc(50% - 73.5rem);
	left: calc(50% - 125rem);
}
.page-404-wrapper strong {
	display: block;
	font-size: 19rem;
	line-height: 16rem;
	margin-bottom: 15rem;
}
.page-404-text {
	display: block;
	font-size: 12rem;
	line-height: 16rem;
	margin-bottom: 50rem;
	opacity: .7;
}
.btn-404 {
	display: inline-block;
	padding: 20rem 37rem;
    font-size: 14rem;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 1rem;
    color: #fff;
    background-color: #222020;
    transition: all .6s ease;
}
/*-------------------------------------FOOTER---------------------------------------*/

